<div class="wrapper">
    <div class="logo">
        <img routerLink="/dashboard" src="../../../../assets/images/logo1.svg" alt="logo">
    </div>
    <div class="menu">
        <button mat-raised-button routerLink="/dashboard" routerLinkActive="active-link">Strona Główna</button>
        <button mat-raised-button routerLink="/article" routerLinkActive="active-link">Artykuły</button>
        <button mat-raised-button routerLink="/drinks" routerLinkActive="active-link">Drinki</button>
        <button mat-raised-button routerLink="/adddrinks" routerLinkActive="active-link">Dodaj Drinka</button>
        <button mat-raised-button routerLink="/signup" routerLinkActive="active-link">Zaloguj się</button>
    </div>
</div>
<hr>