<div class="wrapper">

        <img src="../../../../assets/images/logo1.svg" alt="logo">
    <div class="menu">
        <button mat-raised-button routerLink="/dashboard" routerLinkActive="active-link">Strona Główna</button>
        <button mat-raised-button routerLink="/article" routerLinkActive="active-link">Artykuły</button>
        <button mat-raised-button routerLink="/drinks" routerLinkActive="active-link">Drinki</button>
        <button mat-raised-button routerLink="/shots" routerLinkActive="active-link">Shoty</button>
        <button mat-raised-button routerLink="/cocktails" routerLinkActive="active-link">Koktajle</button>
    </div>
</div>
<hr>