.wrapper{
    width: 100%;
    .field{
        text-align: center; 
    }
    button {
        border-radius: 23px;
        margin: 0 20px;
        width: 120px;
        font-size: 300;
        font-weight: 500 !important;
        height: 45px;
      }
}
