<div class="container">
    <div class="row">
      <div class="col-25">
        <label for="fname">Nazwa</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" [(ngModel)]="drinkName" placeholder="Podaj nazwę drinka">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Kaloryczność</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" [(ngModel)]="drinkKcal" placeholder="Podaj kaloryczność drinka">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Opis drinka</label>
      </div>
      <div class="col-75">
        <textarea type="text" [(ngModel)]="drinkDescription" placeholder="Podaj opis drinka"></textarea>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="subject">Składniki drinka</label>
        </div>
        <div class="col-75">
            <textarea type="text" class="form-control" [(ngModel)]="drinkIngredients" placeholder="Podaj składniki drinka"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Instrukcja</label>
        </div>
        <div class="col-75">
            <textarea type="text" class="form-control" [(ngModel)]="drinkInstruction" placeholder="Podaj instrukcję do przygotowania drinka"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Zdjęcie</label>
        </div>
        <div class="col-75">
            <input type="text" class="form-control" [(ngModel)]="drinkImage" placeholder="Dodaj zdjęcie drinka">
        </div>
      </div>
    <br>
    <div class= "form-group">
        <button class="btn btn-primary" (click)="CreateRecord()" [disabled]="!drinkName || !drinkDescription || !drinkIngredients || !drinkInstruction || !drinkKcal || !drinkImage"> Utwórz Drink </button>
    </div>
    <div class="form-group">
        <h4>{{message}}</h4>
    </div>
  </div>