<div class="wrapper">
    <div class="form" *ngIf="!isSignedIn">
    <div class="signup">
        <label for="chk" >Zaloguj się</label>
        <input type="text" placeholder="Podaj e-mail" #email>
        <input type="password" placeholder="Podaj hasło" #password>
        <button (click)="onSignIn(email.value, password.value)">Zaloguj się</button>
    </div>
    </div>

    <div class="form" *ngIf="!isSignedIn">
        <div class="signup">
        <label for="chk" >Zarejestruj się</label>
        <input type="text" placeholder="Podaj e-mail" #emailSignup>
        <input type="password" placeholder="Podaj hasło" #passwordSignup>
        <button (click)="onSignUp(emailSignup.value, passwordSignup.value)">Zarejestruj się</button>
    </div>
    </div>

    <app-logged-in *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-logged-in>
</div>