<div class="description">
    <h1>Witamy na stronie głównej</h1>
  <div class="subtittle">
    Ciekawe propozycje na letnie upały jak i zimowe noce. Drinki słodkie, kwaśne, orzeźwiające - na różne okazje. Podstrona z shotami na każdą imprezę. A na osłodzenie dnia koktajle owocowe typu smoothie jak i koktajle warzywne.
</div>
</div>
<div class="ad">
    <div class="tittle">
        Drinkiem miesiąca został:
    </div>
    <div class="winner">
        Cosmopolitan
    </div>
    <img src="../../../../assets/images/cosmopolitan.jpg" alt="winner">
    
</div>